<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icedevcloud.common.mapper.WxUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.icedevcloud.common.entity.WxUserInfo">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="nick_name" property="nickName" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="country" property="country" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="language" property="language" />
        <result column="real_name" property="realName" />
        <result column="weight" property="integral" />
        <result column="invitation_code" property="invitationCode" />
        <result column="gender" property="gender" />
        <result column="phone_number" property="phoneNumber" />
        <result column="wechat_number" property="wechatNumber" />
        <result column="city_area_code" property="cityAreaCode" />
        <result column="area_code" property="areaCode" />
        <result column="cp_content" property="cpContent" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, union_id, nick_name, avatar_url, country, city, province, language, height, weight, degree, birth_date, constellation, gender, phone_number, wechat_number, city_area_code, area_code, about_me, cp_height_min, cp_height_max, cp_weight_min, cp_weight_max, cp_degree_min, cp_degree_max, cp_birth_year_min, cp_birth_year_max, cp_constellation, cp_content, gmt_create, gmt_modified
    </sql>

</mapper>
