<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icedevcloud.learn.mapper.ExercisesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.icedevcloud.learn.entity.Exercises">
        <id column="id" property="id" />
        <result column="curriculum_id" property="curriculumId" />
        <result column="age_type" property="ageType" />
        <result column="exercise_type" property="exerciseType" />
        <result column="exercise_title" property="exerciseTitle" />
        <result column="correct_answer" property="correctAnswer" />
        <result column="wrong_answer" property="wrongAnswer" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, curriculum_id, age_type, exercise_type, exercise_title, correct_answer, wrong_answer, gmt_create, gmt_modified
    </sql>

</mapper>
